.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 800px;
  background: center / cover no-repeat #fff url(../images/background_header.svg);
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #3f96f3;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header .nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  height: 568px;
  width: 646px;
}

.recipes__title {
  margin: 0 0 24px;
  max-width: 580px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes {
  color: #fff;
  padding: 100px 80px 225px;
  background: center / cover no-repeat #0a2750
    url(../images/background_recipes.svg);
}

.recipes__videos {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 40px;
  margin-bottom: 215px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
